<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="edition de profil">
  <ion-content class="padding">
    <br>
    
    <h4 class="w3-center w3-display-topmiddle"style="margin-top:-5pt">modification</h4>
      <p><i class="fa fa-user fa-fw w3-margin-center w3-text-theme w3-display-topmiddle" style="margin-top:20pt"></i> 
      <br>
        
            <div ng-show="etap1">
          <div class="w3-rest">
              <div class="w3-center" style="margin-left:-20px">
                  <div class="breadcrumb"><a class="breadcrumb__step breadcrumb__step--active1" style="background-color:#387EF5" >etape</a>
                   
                    <a class="breadcrumb__step"> etape</a>
                    
                    <a class="breadcrumb__step">etape</a></div>
                  </div>
              <label class="w3-row w3-section" >
                  <form name="myForm">
  
                     
                  <input class="w3-input w3-border fornote"  placeholder="nom"type="text"  ng-model="prof.nom" name="yourname">
                </form>
            <br>  
            <form name="myForm">
               
                  <div class="number" style="margin-top:-42pt;margin-left:70pt">
                  <input class="w3-input w3-border fornote"  placeholder="prenom"style="margin-left:60pt;margin-right:5pt;" type="text"ng-model="prof.prenom"  name="yourprenom">
                </div>
                   
                  <br>
              </form>
            </label>
          </div>
          <h6  style="color:red;font-size:80%;margin-top:-6pt" ng-show="!prof.nom">nom est vide</h6>
          <br ng-show="prof.nom&&!prof.prenom">
          <h6  style="color:red;font-size:80%;margin-left:135pt;margin-top:-18pt" ng-show="!prof.prenom">prenom est vide</h6>
      <label class="w3-row w3-section">
      <form name="myForm">
    <div class="w3-col" style="width:50px;margin-top:5px"><i class="w3-xxlarge fa fa-calendar"></i></div>
      <div class="w3-rest">
        
              <h6 style="font-size:72%" class="input-label">Date de naissance:</h6>
              <input class="w3-border datenote fornote" ng-model="prof.datedebut" id="dateofbirth" style="margin-top:-30pt;margin-left:70pt"  type="date"  ng-init="initdebut" name="StartDate" ng-change="change(datedebut)" required>
                <h6 style="font-size:72%;color:red" ng-show="!prof.datedebut">la date de naissance est null</h6>
          
      </div>
      </form>
    </label>
    <select name="repeatSelect"  id="soflow"  ng-model="data.role" ng-change="selectr(data.role)">
        <option value="">le role</option>
        <option value="condidat"  >condidat</option>
        <option value="admin" >admin</option>
        <option  value="consultant">consultant</option>
      <option value="manager">manager</option>
      </select>
      
      <div class="w3-rest" style="margin-top:-10pt">
      <label class="w3-row w3-section" >
          
            
                <form name="myForm">
                   
                    <div class="number">
                    <input class="w3-input w3-border fornote"  placeholder="Civilé" type="text" style="margin-left:0;" ng-model="prof.civil">
                   
                    </div>
                     
                    
                     </form>
                
              <br>  
              <form name="myForm">
                    <div class="number" style="margin-top:-42pt;margin-left:70pt">
                    <input class="w3-input w3-border fornote" placeholder="Entité" style="margin-left:60pt;margin-right:5pt;" type="text"ng-model="prof.entit"  ng-change="avnull()">
                    </div>
                    
                    <br>
                </form>
        </label>
      </div>
        <h6  style="color:red;font-size:80%;margin-top:-6pt" ng-show="!prof.civil">Civilé est vide!</h6>
        <br ng-show="prof.civil&&!prof.entit">
        <h6  style="color:red;font-size:80%;margin-left:135pt;margin-top:-18pt" ng-show="!prof.entit">Entité est vide</h6>
        <br ng-show="!prof.civil||!prof.entit">
        <div class="w3-row w3-section" style="margin-left:-5pt">
            <div class="w3-rest" style="margin-top:-30pt">
              <select name="repeatSelect" id="soflow"  ng-model="data.countrie"  ng-change="selectc(data.countrie)">
                    <option ng-repeat="option in data.availableOptions" value="{{option}}">{{option.name}}</option>
                    <option  selected="selected" value="">pays de naissance</option></select>
                  
            </div>
            
        </div>
       
      <p class="w3-center">
      <button class="w3-button w3-section w3-blue w3-ripple next" ng-click="etap(1)" ng-disabled="
      
  (!prof.nom||!prof.prenom||!prof.civil||!prof.entit||!data.countrie||!selectc||!selectr)&&false"> suivant </button>
      
      </p>
        </div>
      <div ng-show="etap2">

          <div class="w3-rest">
              <div class="w3-center" style="margin-left:-20px">
                  <div class="breadcrumb"><a class="breadcrumb__step">etape</a>
                   
                    <a class="breadcrumb__step  breadcrumb__step--active1"style="background-color:#387EF5"> etape</a>
                    
                    <a class="breadcrumb__step">etape</a></div>
                  </div>
              <label class="w3-row w3-section" >
              
                  <div class="number">
                      
                      <form name="myFormprof">
                  <input class="w3-input w3-border fornote"  placeholder="email principal"type="email"  ng-model="prof.principal" required>
                  
                </form>
                  </div>
            <br>  
            <form name="namf">
               
                  <div class="number" style="margin-top:-42pt;margin-left:70pt">
                  <input class="w3-input w3-border fornote"  placeholder="email"style="margin-left:60pt;margin-right:5pt;" type="email"ng-model="prof.email"  required>
                </div>
                   
                  <br>
              </form>
            </label>
          </div>
          <h6  style="color:red;font-size:80%;margin-top:-6pt" ng-show="!prof.principal" >email est vide</h6>
          <br ng-show="prof.principal&&!prof.email">
          <h6  style="color:red;font-size:80%;margin-left:135pt;margin-top:-18pt" ng-show="!prof.email">email est vide</h6>

<br>      
      <div class="w3-rest" style="margin-top:-10pt">
      <label class="w3-row w3-section" >
          
            
                <form name="myForm">
                   
                    <div class="number">
                    <input class="w3-input w3-border fornote"  placeholder="nom de fille" type="text" style="margin-left:0;" ng-model="prof.nomgirl" required>
                   
                    </div>
                     
                    
                     </form>
                
              <br>  
              <form name="namf">
                    <div class="number" style="margin-top:-42pt;margin-left:70pt">
                    <input class="w3-input w3-border fornote" placeholder="ville" style="margin-left:60pt;margin-right:5pt;" type="text"ng-model="prof.ville" required>
                    </div>
                    
                    <br>
                </form>
        </label>
      </div>
        <h6  style="color:red;font-size:80%;margin-top:-6pt" ng-show="!prof.nomgirl">nom de file est vide</h6>
        <br ng-show="prof.nomgirl&&!prof.ville">
        <h6  style="color:red;font-size:80%;margin-left:135pt;margin-top:-18pt" ng-show="!prof.ville">ville est vide</h6>
       <br>
        <div class="w3-rest" style="margin-top:-10pt">
        <label class="w3-row w3-section" >
            
                <div class="number">
                    
                    <form name="myFormprof">
                <input class="w3-input w3-border fornote"  placeholder="adress"type="text"  ng-model="prof.adress" required>
                
              </form>
                </div>
          <br>  
          <form name="namf">
             
                <div class="number" style="margin-top:-42pt;margin-left:70pt">
                <input class="w3-input w3-border fornote"  placeholder="complement d'adress"style="margin-left:60pt;margin-right:5pt;" type="text"ng-model="prof.adressc"required>
              </div>
                 
                <br>
            </form>
          </label>
        </div>
        <h6  style="color:red;font-size:80%;margin-top:-6pt" ng-show="!prof.adress">adresse est vide</h6>
        <br ng-show="prof.adress&&!prof.adressc">
        <h6  style="color:red;font-size:80%;margin-left:135pt;margin-top:-18pt" ng-show="!prof.adressc">complétement d'adresse est vide</h6>
        <br>
        <div class="w3-rest" style="margin-top:-10pt">
          <label class="w3-row w3-section" >
              
                  <div class="number">
                      
                      <form name="myFormprof">
                  <input class="w3-input w3-border fornote"  placeholder="code postal"type="text"  ng-model="prof.code" required>
                  
                </form>
                  </div>
            <br>  
            <form name="namf">
               
                  <div class="number" style="margin-top:-42pt;margin-left:70pt">
                  <input class="w3-input w3-border fornote"  placeholder="numéro"style="margin-left:60pt;margin-right:5pt;" type="number"ng-model="prof.numero" required>
                </div>
                   
                  <br>
              </form>
            </label>
        </div>
        <h6  style="color:red;font-size:80%;margin-top:-6pt" ng-show="!prof.code">code postal est vide</h6>
        <br ng-show="prof.code&&!prof.numero">
        <h6  style="color:red;font-size:80%;margin-left:135pt;margin-top:-18pt" ng-show="!prof.numero">numéro est vide</h6>
      
    
   
      <p class="w3-center">
      <button class="w3-button w3-section w3-blue w3-ripple next" style="margin-left:-5pt" ng-click="etap(2)" ng-disabled="(!prof.email||!prof.principal||!prof.nomgirl||!prof.ville||!prof.adress||!prof.adressc||!prof.code||!prof.numero)&&false"> suivant </button>
      <button class="w3-button w3-section w3-blue w3-ripple next" style="margin-top:-80pt" ng-click="suivant(1)"> précedant </button>
      </p>
     
    </div>
      <div ng-show="etap3">
          
                    <div class="w3-rest">
                        <div class="w3-center" style="margin-left:-20px">
                            <div class="breadcrumb"><a class="breadcrumb__step"  >etape</a>

                              
                              <a class="breadcrumb__step">etape</a>
                              <a class="breadcrumb__step  breadcrumb__step--active1"style="background-color:#387EF5"> etape</a>
                            </div>
                            </div>
                        
                    
         
                    </div>
               
                
                <label class="w3-row w3-section" >
                    
                      
                          <form name="myForm">
                             
                              
                              
              <h6 style="font-size:72%" class="input-label">Date de naissance:</h6>
              <input class="w3-border datenote fornote" ng-model="prof.datedebut" id="dateofbirth" type="date"  ng-init="initdebut" name="StartDate" ng-change="change(datedebut)" required>
               
              
              
                              
                               
                              
                               </form>
                          
                        <br>  
                        <form name="namf">
                              <div class="number" style="margin-top:-42pt;margin-left:70pt">
                              <input class="w3-input w3-border fornote" placeholder="nationalité" style="margin-left:60pt;margin-right:5pt;" type="text"ng-model="prof.nation">
                              </div>
                              
                             
                          </form>
                          <h6 style="color:red;font-size:80%;margin-top:10pt" ng-show="!prof.datedebut">la date de naissance est null</h6>
                          <br ng-show="prof.datedebut&&!prof.nation">
                          <h6  style="color:red;font-size:80%;margin-left:135pt;margin-top:-15pt" ng-show="!prof.nation">nationalité est vide</h6>
                  </label>
                
               <form name="myForm">
                <label class="item-input" style="width:180px;margin-left:-15px">
                  
                   <input  placeholder="langue" ion-select-autocomplete id = "countryid" multiselect="true"
                                            output="model"
                                            header="Choose Country"
                                            label-key="name" value-key="nativeName"
                                            options="optionList"  name="lang" required
                   />
                 </label>
               </form>
                 <div style="margin-top:-45pt">
                 <select style="margin-left:130pt;" name="repeatSelect"  id="soflown"  ng-model="data.niveau" ng-change="selectn(data.niveau)">
                  <option value="">niveau</option>
                  <option value="1"  >1</option>
                  <option value="2">2</option>
                  <option  value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" >6</option>
                <option value="7" >7</option>
                <option  value="8" >8</option>
              <option value="9" >9</option>
              <option value="10" >10</option>
                </select>
                 </div>
                 <h6  style="color:red;font-size:80%;margin-top:-6pt" ng-show="myForm.lang.$error.required">langue est vide</h6>
                 <br ng-show="!myForm.lang.$error.required&&!data.niveau">
                 <h6  style="color:red;font-size:80%;margin-left:135pt;margin-top:-18pt" ng-show="!data.niveau">selectionner le niveau</h6>
                 <label class="w3-row w3-section" >
                 <form name="namf">
                  <div class="number" style="margin-left:-60pt">
                  <input class="w3-input w3-border fornote" placeholder="diplome" style="margin-left:60pt;margin-right:5pt;width:110px" type="text"ng-model="prof.diplome">
                  </div>
                  
                  <br>
              </form>
              <form name="namf">
                <div class="number" style="margin-top:-40pt;margin-left:27pt;">
                <input class="w3-input w3-border fornote" placeholder="institue" style="margin-left:60pt;margin-right:5pt;width:110px" type="text"ng-model="prof.institue">
                </div>
                
                <br>
            </form>
                 </label>
            <div style="margin-top:-54pt;margin-left:160pt">
            <select style="width:100px" name="repeatSelect" id="soflow"  ng-model="diplom.anne"  ng-change="selectd(diplom.anne)">
              <option ng-repeat="option in annes" value="{{option}}">{{option}}</option>
              <option  selected="selected" value="">anné?</option></select>
            </div>
                  <h6  style="color:red;font-size:80%;margin-top:-6pt" ng-show="!prof.diplome">diplome est vide!</h6>
                  <br ng-show="prof.diplome&&!prof.institue">
                  <h6  style="color:red;font-size:80%;margin-left:90pt;margin-top:-18pt" ng-show="!prof.institue">institue est vide</h6>
                  <br ng-show="prof.institue&&!diplom.anne">
                  <h6  style="color:red;font-size:80%;margin-left:180pt;margin-top:-18pt" ng-show="!diplom.anne">anné est vide</h6>
                  <form>
                  <div class="button-bar col upload" >
                    <input type = "file" file-model ="myFile.file" style="margin-top: 2px"/>
                  </div>
                  <span   ng-show="!myFile.file" > <p style="padding-left:120pt;color:red;margin-top:-30pt">fichier non sélectionné</p></span>
                  <span   ng-show="myFile.file" > <p style="padding-left:200px;margin-top:-30pt">{{myFile.file.name}}</p></span>
                </form>
                <br>
                <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" >
                  <h6 class="input-label">les compétences</h6>
                
                  <textarea id="teste" ng-model="text.comment"  placeholder="compétences..." rows="8" cols="10">
                  </textarea>
                <br>
                </div>
                  <p class="w3-center">
                <button class="w3-button w3-section w3-blue w3-ripple next" style="margin-left:-5pt" ng-click="valide(prof.nom,prof.prenom,datedebut,prof.civil,data.countrie,data.role,
                prof.principal,prof.email,prof.nomgirl,prof.entit,prof.adress,prof.adressc,prof.code,prof.ville,prof.numero,prof.nation,prof.diplome,data.niveau,diplom.anne,prof.institue)" ng-disabled="!prof.nation&&!prof.diplome&&!prof.datedebut&&!prof.nation&&!data.niveau
                &&!diplom.anne&&!prof.diplome&&!prof.institue&&!myFile.file"> valider </button>
                    <button class="w3-button w3-section w3-blue w3-ripple next"style="margin-top:-80pt" ng-click="suivant(2)"> précedant </button>
                    </p>
      </div>
      

  </ion-content>
</ion-view>
