<ion-view view-title="Congés">
    <ion-content>
        <br>
            <div class="w3-container">
      
      <header class="w3-container w3-cyan w3-round">
      <h4>sairir les informations de congé</h4>
      </header>
      <select name="repeatSelect" id="soflow"  ng-model="data.model" ng-change="select()">
        <option value="">--pleaz select congé to continue--</option>
        <option value="paternitE" ng-hide="pat" >paternité</option>
        <option value="maternitE" ng-hide="mat">maternité</option>
        <option  value="congsans" ng-hide="csans">congé sans salaire</option>
      <option value="cong" ng-hide="conge">congé</option>
      </select>
    
    <label class="item w3-light-grey w3-leftbar">
        <form name="myForm">
    <span class="input-label">Date de debut</span>
    <input  type="date" ng-model="datedebut" ng-init="initdebut" name="StartDate"   ng-change="change(datedebut)">
    <span style="color:red" ng-show="!myForm.StartDate.$error.requireds"></span>
    <br>
    <label class="checkbox" >
    matin
     <input type="checkbox" ng-model="chekdebutm" ng-checked="debutm" ng-change="changechekdm(chekdebutm)" ng-disabled="dischekbox.debutmatin">
  </label>
  <label  class="checkbox">
    soire
     <input type="checkbox"ng-model="chekdebuts"  ng-checked="debuts" ng-change="changechekds(chekdebuts)" ng-disabled="dischekbox.debutsoire">
  </label>

   <div class="w3-display-right" style="margin-right:7pt;margin-left:auto">
        <span class="input-label">Date de fin</span>
        <input type="date" ng-model="datefin"  name="finDate">
        <br>
        <label class="checkbox">
        matin
         <input type="checkbox" ng-model="chekfinm" ng-checked="finm" ng-change="changechekfm(chekfinm)" ng-disabled="dischekbox.finmatin">
      </label>
      <label class="checkbox">
        soire
         <input type="checkbox" ng-model="chekfins" ng-checked="fins" ng-change="changechekfs(chekfins)" ng-disabled="dischekbox.finsoire">
        
      </label>
     
   </div>
        </form>
    </label>
  
    <br>  
    <div class="w3-container"> 
        
  <p><button id="button" class="w3-button w3-blue w3-round"  ng-click="valide(datedebut,datefin,chekdebutm,chekdebuts,chekfinm,chekfins) " ng-disabled="beforevalide||all||myForm.StartDate.$invalid||myForm.finDate.$invalid||!chekdebutm&&!chekdebuts||!chekfinm&&!chekfins" >valide</button></p>
  <p><button id="button" style="margin-top:-62pt;margin-left:65pt" class="w3-button w3-blue w3-round" ng-click="sende()" ng-disabled="send" >send</button></p>
  <p><button id="button"  style="margin-top:-110pt;margin-left:125pt;width:auto"  class="w3-button w3-blue w3-round"  ng-click="ajoute(datedebut,datefin)" ng-disabled="ajouter" >ajouter d'autre congé</button></p>
  

  </div>
  
    </ion-content>
  </ion-view>
      