<ion-view view-title="list de notes">
    <ion-header-bar class="bar-light bar-subheader" style="height:50px">
     <ul class="espace">
        <li class="chercher">
    <label class="item item-input" id="newsearch">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="name" ng-model="search">
</label>
        </li>
        <li class="searchstatus" style="margin-left:50px">
 <label class="item item-input" id="newsearch">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="status" ng-model="Search">
</label>
    </li>

     </ul>
    
    </ion-header-bar>    
    <ion-content class="padding">
        <div class="bs-component">
            <table id="customers">
                <thead>
                    <tr>
                        <th ng-click="sort('Date')">Date
                            <span class="glyphicon sort-icon" ng-show="sortKey=='Date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('Collaborateur')">Collaborateur
                            <span class="glyphicon sort-icon" ng-show="sortKey=='Collaborateur'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('montant')">montant
                            <span class="glyphicon sort-icon" ng-show="sortKey=='montant'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('status')">status
                            <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in notes| filter : Search|orderBy:sortKey:reverse|itemsPerPage:8" ng-click="infoNote(note)">
                        <td ><font size="1.9">{{user.Date.firstname}}</font>

                        </td>
                        <td><font size="1.9">{{user.User.firstname}} {{user.User.lastname}}</font></td>
                        <td><font size="1.9">{{user.montant}}</font></td>
                        <td><font size="1.9">{{user.hobby}}</font></td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <dir-pagination-controls
        max-size="8"
        direction-links="true"
        boundary-links="true" >
     </dir-pagination-controls>
       
      </ion-content>

</ion-view>