<ion-view view-title="consultation">
      <ion-header-bar class="bar-light bar-subheader">
          <ul class="espace" style="height:35px;">
              <li ><a style="margin-top:-8px;font-size: 12px;" ng-click="condidature()">Condidats</a></li>
             <li class="search" style="margin-top:2px">
              <label class="item item-input" id="newsearch">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Search" ng-model="search">
            </label>
             </li>
            </ul>
             
      </ion-header-bar>
    
    <ion-content class="padding">
           
                  <h4 style="color:red" ng-show="showErreur">probleme dans la connection internet</h4>
                   <ion-list style="list-style-type:disc">
                    <ion-item style="height:35px;" ng-repeat="condidat in condidats | filter:search"  ng-hide="shwocondidature"   ng-click="profile({{condidat.User}})" ><h3 style="margin-top:-8px;">Name:
                      {{condidat.User.firstname}} {{condidat.User.lastname}}</h3>
                    
              
                       <p ng-show="(condidats | filter:search).length == 0">aucun resultats de condidature au {{search}}</p>
                      
                  </ion-list>
    </ion-content>
</ion-view>