<ion-view view-title="Creation">
    <ion-content>
  <h6 class="haut"> Important:</h6> 
     <div style="padding-left:100px;padding-right:10px"> <h6 class="second">svp choisir le role</h6></div>
      <select name="repeatSelect" id="soflow" ng-model="data.model"  ng-change="select()">
        <option value=""select >--svp choisir la catégorie--</option>
        <option  value="1">condidat</option>
        <option value="2">consultant</option>
      <option value="3">employé</option>
      </select>
      <select style="width:100px" name="repeatSelect" id="soflow"  ng-model="employe.role" ng-show="emprole" ng-change="selectd(employe.role)">   
          <option ng-repeat="option in roles" value="{{option}}">{{option}}</option>
          <option  selected="selected" value="">role</option></select>
  <form name="myForm" class="w3-container">
        <div class="list">
            <label class="item-input">
            
            <input type="text" placeholder="firstname"  name="firstname" ng-model="loginData.Fisrtname" ng-disabled="all" required>
            <p style="color:red" ng-show="myForm.firstname.$error.required">*</p>
          </label>
          <label class="item-input">
  
            <input type="text" placeholder="lastname" name="lastname" ng-model="loginData.Lastname" ng-disabled="all" required>
            <p  style="color:red" ng-show="myForm.lastname.$error.required">*</p>
          </label>
          <label class="item-input">
            
            <input  type="email" placeholder="username"  name="username" ng-model="loginData.username" ng-disabled="all" required>
            <p style="color:red" ng-show="myForm.username.$error.email">
              Adresses d'emails invalides.</p>
              <p style="color:red" ng-show="myForm.username.$error.required">*</p> 
          </label>
          <label class="item-input">
            
            <input  type="email" placeholder="email principal"  name="emailp" ng-model="loginData.emailp" ng-disabled="all" required>
            <p style="color:red" ng-show="myForm.emailp.$error.email">
                Adresses d'emails invalides.</p>
                <p style="color:red" ng-show="myForm.emailp.$error.required">*</p> 
          </label>
          <label class="item-input">
            
            <input  type="text" placeholder="ville"  name="ville" ng-model="loginData.ville" ng-disabled="all" required>
            <p  style="color:red" ng-show="myForm.ville.$error.required">*</p>
          </label>
          <div class = "item-input-inset" style="margin-left:8px">
            <label class = "item item-input-wrapper">
               <i class = "icon ion-edit placeholder-icon"></i>
               <input type="number" placeholder="numéro"  pattern="[0-9]*" ng-model="account.num" name="num" required>
            </label>
            <h4 style="padding-left:5px;color:red;" ng-show="!account.num">*</h4>
          </div>
          
           <div class="list"  ng-hide="hid">
  
          <label class="item-input">
      
            <input type="password" placeholder="passsword"  name="password" ng-model="loginData.password" ng-disabled="all" required>
            <p  style="color:red" ng-show="myForm.ville.$error.required">*</p>
          </label>
           <span style="color:red" ng-show="myForm.password.$invalid&&!all">
            <p style="padding-left:18px" ng-show="myForm.password.$error.required">
              mot de passe est requis.</p>
           </span>
           </div>
          <label class="item-input">
          <div class="upload" >
                  <div class="row">
     <div class="col text-center">
          <div class="button-bar" >
          <input type = "file" file-model ="myFile.file" style="margin-top:2px" />
        </div>
        </div>
     </div>
                  </div>
                  
     <span   ng-show="!myFile.file" > <p style="padding-left:8px;color:red">fichier non sélectionné</p></span>
     <span   ng-show="myFile.file" > <p style="padding-left:18px;">{{myFile.file.name}}</p></span>
  <br>
  </label>
  <div class="button-bar">
      <button class="button icon-left ion-camera" ng-click="loadImage()">Take Photo</button>
      <button class="button icon-left ion-upload" ng-click="uploadImage()" ng-disabled="image === null">Upload</button>
    </div>

  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" ng-hide="!hid">
      <h6 class="input-label">les compétences</h6>
    
      <textarea id="teste" ng-model="text.comment"  placeholder="compétences..." rows="8" cols="10">
      </textarea>
    <br>
    </div>
        
            <div class="row">
     <div class="col text-center">
            <button id="butoncon" class="button button-block button-positive" type="submit"  ng-disabled="all||myForm.username.$error.email||myForm.lastname.$invalid||myForm.username.$invalid||myForm.firstname.$invalid||(myFile.file.name==null)"  ng-click="doLogin()" >Registred</button>
     </div>
            </div>
          
        
  </form>
      
    </ion-content>
  </ion-modal-view>
  