<ion-view view-title="Note">
        <ion-content class="padding"> 
<div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <div class="w3-row w3-section" style="margin-left:-20pt">
            <div class="w3-rest" style="margin-top:-30pt">
            <br>
              <select name="repeatSelect" id="soflow"  ng-model="data.model"  ng-change="selectn(data.model)">
                    <option ng-repeat="option in data.availableOptions" value="{{option.Typenote}}">{{option.Typenote.type}}</option>
                    <option  selected="selected" value="">Choisir type de dépense</option></select>
                  
            </div>
        </div>
        <form name="myForm">
            <h6 class="input-label" style="font-size:80%;margin-top:20pt">montant:</h6>
            <div class="number">
            <input class="w3-input w3-border fornote" type="number" style="margin-left:60pt;;margin-top:-30pt" ng-model="money.montant"  pattern="[0-9]*" name="StartDate" required>
            {{montant}}
            </div>
             <h6  style="color:red;font-size:80%;margin-left:60pt" ng-show="!money.montant">svp entrez le montant</h6>
            
         </form>
         <form name="myForm">
            <h6 class="input-label" style="font-size:80%;margin-top:20pt">montiv:</h6>
            <div>
            <input class="w3-input w3-border fornote" type="text" style="margin-left:60pt;;margin-top:-30pt" ng-model="av.montiv"   name="StartDate" required>
            
            </div>

             </form>
             <div class="w3-rest"style="margin-top:-10pt">
                <form name="namf">
                    
                    <h6 class="input-label" style="font-size:80%;margin-top:20pt">avance:</h6>
                    <div class="number">
                    <input class="w3-input w3-border fornote" style="margin-left:60pt;margin-right:5pt;margin-top:-30pt" type="number"ng-model="av.montant"  pattern="[0-9]*" name="nameavance" required ng-change="avnull()">
                    </div>
                     <h6  style="color:blue;font-size:80%;margin-left:60pt" ng-show="!av.montant">l'avance!</h6>
                    <br>
                </form>
            </div>
            
  <form name="myTVA">
      <label ng-show="valeurTVA">
          <div class="w3-col" style="width:50px;"><i class="w3-xxlarge fa fa-pencil"></i></div>
        <span class="input-label" style="margin-top:10pt" ng-show="valeurTVA">tv</span>
        <div class="number">
          <div ng-show="valeurTVA">
        <input class="w3-input w3-border fornote"style="margin-left:60pt;margin-right:5pt;margin-top:-25pt" type="number" ng-model="money.tva"  pattern="[0-9]*" name="tva" ng-show="valeurTVA" required>
        <span  style="color:red" ng-show="!money.tva" >entrez une valeur!</span>
          </div>
     
        <br>
        </div>
        </label>
         </form>
         
    </div>
         <p class="w3-center">
            <button class="w3-button w3-section w3-blue w3-ripple next" ng-click="etap(2)" ng-disabled="!myTVA.$valid||!myForm.$valid||allselect
            ||(!namf.nameavance.$error.required&&!namf.$valid)"> valider</button>
            
          </p>
        </ion-content>
</ion-view>