<ion-view view-title="Accueil">
  <ion-content padding="true" class="has-header" style=" background-image: url(img/back.jpg);background-size: 100% 100%;">
    <div class="w3-card-2" style="width:100%;height:auto;background-color:#FFF">
        <h6 class="w3-text-blue w3-center" style="text-shadow:1px 1px 0 #FFF;margin-top:8pt;
        padding-top:4pt;
        padding-bottom:5pt;
       ">
        Bienvenu sur l'Intranet</h6>
        
    </div>
      
  
  </ion-content>
</ion-view>