<ion-view view-title="login">
<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="login-page">
<div class="form" style="border: 2px solid #387EF5 ;
  border-radius: 12px;">
  <form class="login-form">
    <input type="text" placeholder="username" ng-model="User.username"/>
    <input type="password" placeholder="password" ng-model="User.Password"/>
  </form>
  
  <button type="submit" ng-click="login()" id="butoncon" class="button button-block button-positive"  style="width:225px">login</button>
  <a id="button" style="width:225px;background-color:#387EF5; color: white;height:35pt"  class="w3-button w3-round" href="#/acount">condidature spontané</a>
</div>
</div>
</ion-content>
</ion-view>