<ion-side-menus enable-menu-with-back-views="true" data-componentid="side-menu21">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
      
   <button class="button " ng-click="home()"><i class="icon icon-right  ion-android-home" ></i></button>
   <a class="button " ng-click="out()"> <i class="icon ion-log-out "></i></a>
   <a class="button " ng-click="profil()"> <i class="icon ion-person "></i></a>
 

        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:#387EF5;">
      <ion-header-bar class="bar-positive">
        <div class="title">Menu</div>
      </ion-header-bar>
      <ion-content ng-controller="menu" padding="false" class="side-menu-left has-header " style="background-color:#FFF;">
        
        <ion-item class="item-icon-left dark"  style="height:38px;background-color:#FFF;">
        <img class="icon imge" src="img/collaborateur.png" style="width : 8% ; height : 60%;margin-top: 6px">
     <div style="padding-left:8px;color:#000000;margin-top: -10px"> Collaborateur</div>
        
      </ion-item>
        <ion-list class="listmenu active" id="menu-list12" data-componentid="list12">
          <ion-item class="item-icon-left dark" style="height:35px;" id="menu-list-item48" data-componentid="list-item48"  menu-close ng-click="login()" >
            <img class="icon" src="img/intern.png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-right:40px;
   padding-left:50px;margin-top: -12px">Internes</div></ion-item>
   <ion-item class="item-icon-left dark" style="height:35px;" id="menu-list-item48" data-componentid="list-item48"  menu-close ng-click="consultationa(1)" >
    <img class="icon" src="img/condiadate.png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-right:40px;
padding-left:50px;margin-top: -12px">Candidats</div></ion-item>
          <ion-item class="item-icon-left dark" style="height:35px;" id="menu-list-item48" data-componentid="list-item48"  menu-close ng-click="consultationa(2)">
           <img class="icon" src="img/adding.png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-right:40px;
  padding-left:50px;margin-top: -12px">création</div></ion-item>
  <ion-item class="item-icon-left dark" style="height:35px;" id="menu-list-item48" data-componentid="list-item48"  menu-close ng-click="consultationa(3)" >
    <img class="icon" src="img/x.png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-right:40px;
padding-left:50px;margin-top: -12px">Désactivation</div></ion-item>
          <ion-item class="item-icon-left dark"style="height:35px;" id="menu-list-item49" data-componentid="list-item49" menu-close ng-click="consultationa(4)">
            <img class="icon" src="img/profile.png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-left:50px;;margin-top: -12px">Consultation</div></ion-item>
    
          </ion-list>

        <ion-item class="item-icon-left dark"  style="height:38px;background-color:#FFF;">
        <img class="icon imge" src="img/Congé.png" style="width : 8% ; height : 60%;;margin-top:6px">
     <div style="padding-left:8px;color:#000000;margin-top: -10px">
        Congés</div>
        </ion-item>
        <ion-list id="menu-list13" data-componentid="list13"> 
          <ion-item class="item-icon-left dark" style="height:35px;" id="menu-list-item50" data-componentid="list-item50" menu-close ng-click="consultation(2)">
            <img class="icon" src="img/saisir.png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-left:50px;;margin-top: -12px">saisie</div></ion-item>
          <ion-item class="item-icon-left dark"style="height:35px;" id="menu-list-item51" data-componentid="list-item51" menu-close ng-click="consultation(3)">
           <img class="icon" src="img/following.png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-left:50px;;margin-top: -12px">suivie</div></ion-item>
          <ion-item class="item-icon-left dark" id="menu-list-item52"style="height:35px;" data-componentid="list-item52" menu-close ng-click="consultation(4)">
            <img class="icon" src="img/dash (2).png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-left:50px;;margin-top: -12px">TDB</div></ion-item>
            </ion-list>
            <ion-item class="item-icon-left dark"  style="height:38px;background-color:#FFF;">
                <img class="icon imge" src="img/note.png" style="width : 8% ; height : 60%;;margin-top:6px">
             <div style="padding-left:8px;color:#000000;margin-top: -10px">
                Note de frais</div>
                </ion-item>
                <ion-list id="menu-list13" data-componentid="list13"> 
                  <ion-item class="item-icon-left dark" style="height:35px;" id="menu-list-item50" data-componentid="list-item50" menu-close ng-click="consultation(5)">
                    <img class="icon" src="img/saisir.png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-left:50px;;margin-top: -12px">saisie</div></ion-item>
                  <ion-item class="item-icon-left dark"style="height:35px;" id="menu-list-item51" data-componentid="list-item51" menu-close ng-click="consultation(6)">
                   <img class="icon" src="img/following.png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-left:50px;;margin-top: -12px">suivie</div></ion-item>
                  <ion-item class="item-icon-left dark" id="menu-list-item52"style="height:35px;" data-componentid="list-item52" menu-close ng-click="consultation(7)">
                    <img class="icon" src="img/dash (2).png" style="width : 25% ; height : 60%;margin-top: 5px;padding-left:45px"><div style="padding-left:50px;;margin-top: -12px">TDB</div></ion-item>
                    </ion-list>
            
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>

  
