<ion-view view-title="Note">
        <ion-content class="padding"> 
                  <h3 class="w3-center">Note de  frais</h3>      
                  <table id="customers">
                              <thead>
                                  <tr>
                                      <th><font size="2">Date
                                          </font>
                                      </th>
                                      <th ><font size="2">Collaborateur
                                          </font>
                                      </th>
                                      <th ><font size="2">
                                            montant
</font>
                                          
                                      </th>
                                      <th><font size="2">
                                            status
                                          </font>
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td ><font size="1.9">2017-11-2</font>
              
                                      </td>
                                      <td><font size="1.9">soufiane elmoudden</font></td>
                                      <td><font size="1.9">1000</font></td>
                                      <td><font size="1.9">en cours</font></td>
                                  </tr>
                              </tbody>
                          </table>
                          <table id="customers">
                                    <thead>
                                        <tr>
                                            <th><font size="2">Devise
                                                </font>
                                            </th>
                                            <th ><font size="2">Date de la note
                                                </font>
                                            </th>
                                            <th ><font size="1.9">
                                                  Sous-total
                                                  <font size="1.9">
                                                
                                            </th>
                                            <th><font size="1.9">
                                                  Total
                                                </font>
                                            </th>
                                            <th><font size="1.9">
                                                  Avance
                                                   </font>   
                                                  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td ><font size="1.9">Euro</font>
                    
                                            </td>
                                            <td><font size="1.9">2017-10-11</font></td>
                                            <td><font size="1.9">1000</font></td>
                                            <td><font size="1.9">1000</font></td>
                                            <td><font size="1.9"></font></td>
                                        </tr>
                                    </tbody>
                          </table>         
                      <ion-slides options="options" slider="slider" auto-play="true" style="height:70%">
                            <ion-slide-page  dir-paginate="note in notes|itemsPerPage:9" class="w3-panel w3-border-left w3-light-grey w3-border-black">
                                 <h3 class="w3-center"> Note {{$index+1}}</h3>
                              <table id="customers">
                                    <thead>
                                        <tr>
                                            <th><font size="1.9">Date
                                                </font>
                                            </th>
                                            <th ><font size="1.9">PIECE JOINTE
                                                </font>
                                            </th>
                                            <th ><font size="1.9">MOTIF
                                                </font>
                                                
                                            </th>
                                            <th><font size="1.9">TYPE
                                                </font>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td ><font size="1.9"><font size="1.9">{{note.Date.firstname}}</font>
                    </font>
                                            </td>
                                            <td><font size="1.9">{{note.User.firstname}} {{note.User.lastname}}</font></td>
                                            <td><font size="1.9">aucun</font></td>
                                            <td><font size="1.9">avion</font></td>
                                        </tr>
                                    </tbody>
                                </table> 
                                <table id="customers">
                                          <thead>
                                              <tr>
                                                  <th><font size="1.9">MONTANT(TTC)
                                                      </font>
                                                  </th>
                                                  <th ><font size="1.9">MONTANT(HT)
</font>
                                                  </th>
                                                  <th ><font size="1.9">TVA
                                                      </font>
                                                      
                                                  </th>
                                                  <th><font size="1.9">NOM
                                                      </font>
                                                  </th>
                                                  <th><font size="1.9">SOCIÉTÉ
                                                       </font>     
                                                        </th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td ><font size="1.9">{{note.montant}}</font>
                          
                                                  </td>
                                                  <td><font size="1.9">{{note.montant}}</font></td>
                                                  <td><font size="1.9"></font></td>
                                                  <td><font size="1.9">nom</font></td>
                                                  <td><font size="1.9">societé</font></td>
                                              </tr>
                                          </tbody>
                                      </table> 
                                      <button class="w3-button w3-section w3-blue w3-ripple next" style="margin-left:80px;width:50%" ng-click="editer()">Editer</button>
                                      <h6  class="w3-center" style="margin-top:95%">
                                            {{ $index+1}} </h6>
                                            <button class="w3-button w3-display-left w3-black"style="margin-top:65px" >&#10094;</button>
                                            <button class="w3-button w3-display-right w3-black" style="margin-top:65px" >&#10095;</button>
                                            
                            </ion-slide-page>
                      </ion-slides>
                      
                      <button class="w3-button w3-section w3-blue w3-ripple next" style="margin-left:90px;width:50%" ng-click="remarque()">Remarques</button>
                      <dir-pagination-controls
                      max-size="9"
                      direction-links="true"
                      boundary-links="true">
                   </dir-pagination-controls>
        </ion-content>
</ion-view>