<ion-view view-title="Note de frais">
  <ion-content>
   <br>
   <br>

      <div class="w3-container">
        
        <div class="w3-card-4" style="width:100%;">
          <header class="w3-container w3-cyan">
          <h4 ng-show="aferajoute">sairir les informations de Note</h4>
          <h4 ng-show="!aferajoute">informations de Note {{numero}}</h4>
          </header>
      
          <select name="repeatSelect" id="soflow"  ng-model="data.model"  ng-change="selectn(data.model)">
            <option ng-repeat="option in data.availableOptions" value="{{option.Typenote}}">{{option.Typenote.type}}</option>
            <option  selected="selected" value="">--please select note de frais--</option></select>
          </select>
            <form name="myForm" ng-show="data.model">
        <label class="item">
        <span class="input-label">Date de debut</span>
        <input  type="date" ng-model="datedebut" ng-init="initdebut" name="StartDate"  required ng-change="change(datedebut)">
        
          <h4 style="color:red" ng-show="!datedebut">-tu doit commencer apres demain</h4>
      
      </label>
      <div>
      <label class="item">
        <span class="input-label">Date de fin</span>
        <input type="date" ng-model="datefin" ng-disabled="!datedebut" name="finDate" required min="{{nextdate}}">
        <span style="color:red" ng-show="!myForm.finDate.$error.required">
      
      </label>
      </div>
      
         </form>
         <form name="myForm">
        <label class="item">
        <span class="input-label">montant</span>
        <div class="number">
        <input  type="number" ng-model="money.montant"  pattern="[0-9]*" name="StartDate" required>
        {{montant}}
        </div>
         <span  style="color:red" ng-show="!money.montant">Please enter number!</span>
        </label>
        </div>
         </form>
      </form>
        <form name="myTVA">
      <label class="item" ng-show="valeurTVA||valeurHT">
        <span class="input-label" ng-show="valeurTVA">tv</span>
        <div class="number">
          <div ng-show="valeurTVA">
        <input  type="number" ng-model="money.tva"  pattern="[0-9]*" name="tva" ng-show="valeurTVA" required>
        <span  style="color:red" ng-show="!money.tva" >Please enter number!</span>
          </div>
      <div ng-show="valeurHT">
        <span class="input-label" ng-show="valeurHT">Ht</span>
        <input  type="number" ng-model="money.ht"  pattern="[0-9]*" name="horstax" ng-show="valeurHT" required>
        <span  style="color:red" ng-show="!money.ht" >Please enter number!</span>
        </div>
        </div>
        </label>
         </form>
         <form name="namf">
        <label class="item">
        <span class="input-label">avance</span>
        <div class="number">
        <input  type="number" ng-model="av.montant"  pattern="[0-9]*" name="nameavance" required ng-change="avnull()">
        </div>
         <span  style="color:blue" ng-show="!av.montant">if you have avance!</span>
        </label>
        
      </div>  
      <label class="item item-input item-stacked-label" ng-show="aftervalide">
        <span class="input-label">commnetaire</span>
      
        <textarea id="teste" ng-model="text.comment"  placeholder="commenatre..." rows="8" cols="10">
        </textarea>
      </label>
      <div class="row">
         <div class="col text-center">
      <button id="butoncon" class="button button-block button-positive" ng-click="valide(datedebut,datefin)" ng-show="bvalide" ng-disabled="!myForm.$valid||allselect||(!namf.nameavance.$error.required&&!namf.$valid)||(!myTVA.$valid&&valeurTVA)||(!myTVA.$valid&&valeurHT)" >valide</button>
      <button id="butoncon" class="button button-block button-positive"  ng-click="ajoute()" ng-show="aftervalide" >ajouter d'autre note</button>
      <button id="butoncon" class="button button-block button-positive" ng-click="sende()" ng-show="fenish" >send</button>
      </form>
      </div>
      </div>
      
    </ion-list>
  </ion-content>
</ion-view>
