<ion-view view-title="profil" class="w3-theme-l5">
        <ion-content padding="true" class="has-header">
<div class="w3-theme-l5">
<div class="w3-container w3-content w3-theme-l5" style="margin-top:20px">    
        <!-- The Grid -->
        <div class="w3-row">
          <!-- Left Column -->
          <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card-2 w3-round w3-white">
              <div class="w3-container">
               <h4 class="w3-center">{{info.name}}</h4>
               <a class="profiledit"style="margin-top:-8pt" ng-click="editeprofil()"> <i class="icon ion-compose"></i></a>
               <p class="w3-center"><img src="img/profil.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
               <hr>
               <p><i class="fa fa-user fa-fw w3-margin-center w3-text-theme"></i> 
                <p style="margin-left:13%;margin-top:-48px"><font size="1.8">Nom:{{info.nom}} </font></p>
                <p style="margin-left:13%;margin-top:-20px"><font size="1.8">Prénom:{{info.prenom}} </font></p>
                <p style="margin-left:13%;margin-top:-20px"><font size="1.8">Né le: {{info.born}}</font></p>
                <p style="margin-left:13%;margin-top:-20px"><font size="1.8">Civilité:{{info.civil}} </font></p>
                <p style="margin-left:13%;margin-top:-20px"><font size="1.8">Pays de naissance: {{info.country}}</font></p>
                <p style="margin-left:13%;margin-top:-20px"><font size="1.8">Role:{{info.role}} </font></p>
                <p style="margin-left:13%;margin-top:-20px"><font size="1.8">Entité interne: {{info.entite}}</font></p>
            </p>
               
               
              </div>
            </div>
     
            
           
                  <div class="w3-panel w3-card">
                        <img class="icon" src="img/email.png" style="width : 8% ; height :1%;margin-top: 5px;">  
                    <h6 style="margin-left:12%;margin-top:-28px"><font size="1.8">Email principale: {{info.email}}</font></h6>
                    <h6 style="margin-left:12%;margin-top:-10px"><font size="1.8">Email secondaire: {{info.emailp}}</font></h6>
                  </div>
        
  
                       <div class="w3-panel w3-card">
                                <img class="icon" src="img/girl.png" style="width : 8% ; height :1%;margin-top: 5px;">  
                            <p style="margin-left:12%;margin-top:-25px"><font size="1.8">Nom de jeune fille :{{info.girl}}</font></p></div>
                            <div class="w3-panel w3-card">
                              <img class="icon" src="img/city.png" style="width : 8% ; height :1%;margin-top: 5px;">  
                          <p style="margin-left:12%;margin-top:-25px"><font size="1.8">ville:{{info.ville}}</font></p></div>
                          <div class="w3-panel w3-card">
                            <img class="icon" src="img/adress.jpg" style="width : 8% ; height :1%;margin-top: 10px;">  
                        <p style="margin-left:12%;margin-top:-35px"><font size="1.8">Adresse :{{info.adress}}</font></p>
                        <p style="margin-left:12%;margin-top:-20px"><font size="1.8">Complément d'adresse :{{info.adressc}}</font></p>
                        <p style="margin-left:12%;margin-top:-20px"><font size="1.8">Code postal :{{info.post}}</font></p>
                      </div>
                      <div class="w3-panel w3-card">
                      <img class="icon" src="img/phone.png" style="width : 8% ; height :1%;margin-top: 5px;">  
                      <p style="margin-left:12%;margin-top:-25px"><font size="1.8">Numéro de portable:{{info.tel}}</font></p></div>
                            <div class="w3-panel w3-card">
                                    <img class="icon" src="img/date.png" style="width : 8% ; height :1%;margin-top: 5px;">  
                                <p style="margin-left:12%;margin-top:-25px"><font size="1.8">la date de creation:{{info.date}}</font></p></div>
                                <div class="w3-panel w3-card">
                                <img class="icon" src="img/nationalité.png" style="width : 8% ; height :1%;margin-top: 5px;">  
                                <p style="margin-left:12%;margin-top:-25px"><font size="1.8">Nationalité:{{info.natio}}</font></p></div>

                  <br>
          </div>
        </div>
</div>
        </div>
</div>
        </ion-content>
    </ion-view>
                  