<ion-view view-title="consultation">
        <ion-content class="padding">
                      <ion-slides options="options" slider="slider" auto-play="true">
                        <ion-slide-page>
                        <div>
                            <div class="w3-theme-l5">
                                <div class="w3-container w3-content w3-theme-l5" style="margin-top:20px">    
                                        <!-- The Grid -->
                                        <div class="w3-row">
                                          <!-- Left Column -->
                                          <div class="w3-col m3">
                                            <!-- Profile -->
                                            <div class="w3-card-2 w3-round w3-white">
                        <div class="w3-panel w3-card">
                    <img class="icon w3-center" src="img/fname.png" style="width : 12% ; height :1%;margin-top:10px;">  
                <p style="margin-left:13%;margin-top:-48px"><font size="1.8">Nom:{{info.nom}} </font></p>
                <p style="margin-left:13%;margin-top:-15px"><font size="1.8">Prénom:{{info.prenom}} </font></p>
                <p style="margin-left:13%;margin-top:-15px"><font size="1.8">Né le: {{info.born}}</font></p>
                <p style="margin-left:13%;margin-top:-15px"><font size="1.8">Civilité:{{info.civil}} </font></p>
                <p style="margin-left:13%;margin-top:-15px"><font size="1.8">Pays de naissance: {{info.country}}</font></p>
                <p style="margin-left:13%;margin-top:-15px"><font size="1.8">Role:{{info.role}} </font></p>
                <p style="margin-left:13%;margin-top:-15px"><font size="1.8">Entité interne: {{info.entite}}</font></p>
        </div>
                  <div class="w3-panel w3-card">
                        <img class="icon" src="img/email.png" style="width : 8% ; height :1%;margin-top: 10px;">  
                    <h6 style="margin-left:12%;margin-top:-28px"><font size="1.8">Email principale: {{info.email}}</font></h6>
                    <h6 style="margin-left:12%;margin-top:-10px"><font size="1.8">Email secondaire: {{info.emailp}}</font></h6>
                  </div>
                  
                        </div>
                                        
                        
                        <div class="card">
                                
                                      <div class="row">
                                          <img class="icon" src="img/girl.png" style="width : 8% ; height :1%;margin-top: 5px;margin-left:7pt">  
                                          <p style="margin-left:12%;margin-left:10pt;margin-top:5pt"><font size="1.8">Nom de jeune fille :{{info.girl}}</font></p></div>
                                            <img class="icon" src="img/city.png" style="width : 8% ; height :1%;margin-left:10pt">
                                            <p style="margin-left:18%;margin-top:-25px"><font size="1.8">ville:{{info.ville}}</font></p>
                                      </div>
                                
                                      
                                
                                    </div>
                                  </div>
                                </div>
                        </div>
                    </div>
                </div>
                <p><button id="button"  style="margin-left:90pt;width:120px"  class="w3-button w3-blue w3-round" ng-click="etapedite(1)">editer</button></p>
                </ion-slide-page>
                        
                        
                      <ion-slide-page>
                        <div >
                            <div class="w3-theme-l5">
                                <div class="w3-container w3-content w3-theme-l5" style="margin-top:20px">    
                                        <!-- The Grid -->
                                        <div class="w3-row">
                                          <!-- Left Column -->
                                          <div class="w3-col m3">
                                            <!-- Profile -->
                                            <div class="w3-card-2 w3-round w3-white">
                            <div class="card">
                            
                                  
                                      <img class="icon" src="img/adress.jpg" style="width : 8% ; height :1%;margin-top:20px;margin-left:8pt">  
                                      <p style="margin-left:15%;margin-top:-40px"><font size="1.8">Adresse :{{info.adress}}</font></p>
                                      <p style="margin-left:15%;margin-top:-15px"><font size="1.8">Complément d'adresse :{{info.adressc}}</font></p>
                                      <p style="margin-left:15%;margin-top:-15px"><font size="1.8">Code postal :{{info.post}}</font></p>
                                 
                                            </div>
                                            
                                          </div>
                                          <div  class="card">
                                          <img class="icon" src="img/phone.png" style="width : 8% ; height :1%;margin-top: 5px;margin-left:5pt">  
                                          <p style="margin-left:12%;margin-top:-15px;margin-left:35pt"><font size="1.8">Numéro de portable:{{info.tel}}</font></p></div>
                                          <div class="card">
                                              <img class="icon" src="img/date.png" style="width : 8% ; height :1%;margin-top: 5px;margin-left:5pt">  
                                          <p style="margin-left:12%;margin-top:-15px;margin-left:35pt"><font size="1.8">la date de creation:{{info.date}}</font></p></div>
                                          <div class="card">
                                          <img class="icon" src="img/nationalité.png" style="width : 8% ; height :1%;margin-top: 5px;margin-left:5pt">  
                                          <p style="margin-left:12%;margin-top:-15px;margin-left:35pt"><font size="1.8">Nationalité:{{info.natio}}</font></p></div>
                                        </div>
                                </div>
                              
                        </div>
                        </div>
                        <p><button id="button"  style="margin-left:90pt;width:120px"  class="w3-button w3-blue w3-round" ng-click="etapedite(2)">editer</button></p>
                        </ion-slide-page>
                      </ion-slides>
                      
        </ion-content>
    </ion-view>