<ion-view view-title="list de notes">
    <ion-content>
        <div class="w3-container">
                <div class="w3-panel w3-pale-green w3-theme-l3">
        <h4 class="w3-myfont">COMMENTAIRE DU COLLABORATEUR</h4>
      
        <div class="w3-panel w3-card-4 w3-light-grey">
          <p class=" w3-large w3-serif">
          
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non massa vitae risus fermentum ullamcorper. Phasellus risus urna, ornare in aliquam id, porttitor sit amet sapien. Nulla facilisi.</p>
        </div>
        <h4 class="w3-myfont">COMMENTAIRE DU VALIDEUR</h4>
        
          <div class="w3-panel w3-card-4 w3-light-grey">
            <p class=" w3-large w3-serif">
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non massa vitae risus fermentum ullamcorper. Phasellus risus urna, ornare in aliquam id, porttitor sit amet sapien. Nulla facilisi.</p>
          </div>
      </div>
        </div>
    </ion-content>
</ion-view>