<ion-view view-title="Note">
  <ion-content>
   
<h2 class="w3-center">Note</h2>
<div class="fornote">
  <div ng-hide="etap1">
    
    <div class="w3-center"  style="margin-left:-20pt">
        <div class="breadcrumb "><a class="breadcrumb__step breadcrumb__step--active" >etape</a>
         
          <a class="breadcrumb__step"> etape</a>
          
          <a class="breadcrumb__step">etape</a></div>
        </div>
      <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <br>

<label class="w3-row w3-section">
    <form name="myForm">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-calendar"></i></div>
    <div class="w3-rest">
      
            <h6 style="font-size:72%" class="input-label">la Date</h6>
            <input class="w3-border datenote fornote" ng-model="datedebut" id="dateofbirth" style="margin-top:-30pt;margin-left:60pt"  type="date"  ng-init="initdebut" name="StartDate" ng-change="change(datedebut)" required>
              <h6 style="font-size:72%;color:red" ng-show="!datedebut">-svp saisir la date</h6>
        
    </div>
    </form>
     <form name="myForm">
            <h6 class="input-label" style="font-size:80%;margin-top:20pt">devices:</h6>
            <div>
            <input class="w3-input w3-border fornote" type="text" style="margin-left:60pt;;margin-top:-30pt" ng-model="device" ng-init="Euro"  name="StartDate" required>
            
            </div>
             
             </form>
             <div class="w3-rest"style="margin-top:-10pt">
                <form name="namf">
                    
                    <h6 class="input-label" style="font-size:80%;margin-top:20pt">taux de change:</h6>
                    <div class="number">
                    <input class="w3-input w3-border fornote" style="margin-left:60pt;margin-right:5pt;margin-top:-30pt" type="number"ng-model="taux"  pattern="[0-9]*" name="nameavance" required>
                    </div>
                    
                    <br>
                </form>
            </div>
  </label>

      </div>
      <label class="item-input">
          <div class="upload" >
                  <div class="row">
     <div class="col text-center">
          <div class="button-bar" >
          <input type = "file" file-model ="myFile.file" style="margin-top:2px" />
        </div>
        </div>
     </div>
                  </div>
                  
     <span   ng-show="!myFile.file" > <p style="padding-left:8px;color:red">fichier non sélectionné</p></span>
     <span   ng-show="myFile.file" > <p style="padding-left:18px;">{{myFile.file.name}}</p></span>
  <br>
  </label>
<p class="w3-center">
<button class="w3-button w3-section w3-blue w3-ripple next" ng-click="etap(1)" ng-disabled="!datedebut||!device||!taux"> valider </button>

</p>

</div>

<div ng-show="!etap2">

    <div class="breadcrumb"> <a class="breadcrumb__step" >etape</a>
      <a class="breadcrumb__step breadcrumb__step--active" > etape</a>
      
      <a class="breadcrumb__step">etape</a></div>
      
      <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
          <div class="w3-row w3-section" style="margin-left:-20pt">
              <div class="w3-rest" style="margin-top:-30pt">
              <br>
                <select name="repeatSelect" id="soflow"  ng-model="data.model"  ng-change="selectn(data.model)">
                      <option ng-repeat="option in data.availableOptions" value="{{option.Typenote}}">{{option.Typenote.type}}</option>
                      <option  selected="selected" value="">Choisir type de dépense</option></select>
                    
              </div>
          </div>
          <form name="myForm">
              <h6 class="input-label" style="font-size:80%;margin-top:20pt">montant:</h6>
              <div class="number">
              <input class="w3-input w3-border fornote" type="number" style="margin-left:60pt;;margin-top:-30pt" ng-model="money.montant"  pattern="[0-9]*" name="StartDate" required>
              {{montant}}
              </div>
               <h6  style="color:red;font-size:80%;margin-left:60pt" ng-show="!money.montant">svp entrez le montant</h6>
              
           </form>
           <form name="myForm">
              <h6 class="input-label" style="font-size:80%;margin-top:20pt">montiv:</h6>
              <div>
              <input class="w3-input w3-border fornote" type="text" style="margin-left:60pt;;margin-top:-30pt" ng-model="av.montiv"   name="StartDate" required>
              
              </div>

               </form>
               <div class="w3-rest"style="margin-top:-10pt">
                  <form name="namf">
                      
                      <h6 class="input-label" style="font-size:80%;margin-top:20pt">avance:</h6>
                      <div class="number">
                      <input class="w3-input w3-border fornote" style="margin-left:60pt;margin-right:5pt;margin-top:-30pt" type="number"ng-model="av.montant"  pattern="[0-9]*" name="nameavance" required ng-change="avnull()">
                      </div>
                       <h6  style="color:blue;font-size:80%;margin-left:60pt" ng-show="!av.montant">l'avance!</h6>
                      <br>
                  </form>
              </div>
              
    <form name="myTVA">
        <label ng-show="valeurTVA">
            <div class="w3-col" style="width:50px;"><i class="w3-xxlarge fa fa-pencil"></i></div>
          <span class="input-label" style="margin-top:10pt" ng-show="valeurTVA">tv</span>
          <div class="number">
            <div ng-show="valeurTVA">
          <input class="w3-input w3-border fornote"style="margin-left:60pt;margin-right:5pt;margin-top:-25pt" type="number" ng-model="money.tva"  pattern="[0-9]*" name="tva" ng-show="valeurTVA" required>
          <span  style="color:red" ng-show="!money.tva" >entrez une valeur!</span>
            </div>
       
          <br>
          </div>
          </label>
           </form>
           
      </div>
           <p class="w3-center">
              <button class="w3-button w3-section w3-blue w3-ripple next" ng-click="etap(2)" ng-disabled="!myTVA.$valid||!myForm.$valid||allselect
              ||(!namf.nameavance.$error.required&&!namf.$valid)"> next </button>
              
            </p>
            </div>

<div ng-show="!etap3">
    
        <div class="w3-center" style="margin-left:-20pt">
            <div class="breadcrumb "><a class="breadcrumb__step " >etape</a>
             
              <a class="breadcrumb__step"> etape</a>
              
              <a class="breadcrumb__step breadcrumb__step--active">etape</a></div>
            </div>
    <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" ng-show="bvalide">
        <span class="input-label">commnetaire</span>
      
        <textarea id="teste" ng-model="text.comment"  placeholder="commenatre..." rows="8" cols="10">
        </textarea>
      <br>
      </div>
      <p class="w3-center">
          <button class="w3-button w3-section w3-blue w3-ripple next"ng-click="valide(datedebut,datefin)" ng-show="bvalide"> valider</button>
          <button id="butoncon" class="button button-block button-positive"  ng-click="ajoute()" ng-show="aftervalide" >ajouter d'autre note</button>
          <button id="butoncon" class="button button-block button-positive" ng-click="sende()" ng-show="fenish" >send</button> 
          </p>
</div>
</div>
  </ion-content>
</ion-view>
