<ion-view view-title="Congés">
    <ion-content>
        <br>
            <div class="w3-container">
      
      <header class="w3-container w3-cyan w3-round">
     
        <h4>sairir les informations de congé</h4>
      </header>
      <div class="w3-container w3-center" style="margin-left:-30pt">
      <select name="repeatSelect" id="soflow"  ng-model="data.model" ng-change="select()">
        <option value="">svp selectionner le type de congé</option>
        <option value="paternitE" ng-hide="pat" >paternité</option>
        <option value="maternitE" ng-hide="mat">maternité</option>
        <option  value="congsans" ng-hide="csans">congé sans salaire</option>
      <option value="cong" ng-hide="conge">congé</option>
      </select>
      </div>
    <label class="item w3-light-grey w3-leftbar">
        <form name="myForm">
    <span class="input-label">Date de debut</span>
    <input  type="date" ng-model="datedebut" ng-init="initdebut" name="StartDate"  required min="{{today}}"  ng-change="change(datedebut)">
    <span style="color:red" ng-show="!myForm.StartDate.$error.required"></span>
    
    <br>
    <label class="checkbox" >
    matin
     <input type="checkbox" ng-model="chekdebutm" ng-checked="debutm" ng-change="changechekdm(chekdebutm)" ng-disabled="dischekbox.debutmatin">
  </label>
  <label  class="checkbox">
    soire
     <input type="checkbox"ng-model="chekdebuts"  ng-checked="debuts" ng-change="changechekds(chekdebuts)" ng-disabled="dischekbox.debutsoire">
  </label>

   <label class="w3-display-topright" style="margin-right:7pt;margin-left:auto;margin-top:12pt">
        <span class="input-label">Date de fin</span>
        <input type="date" ng-model="datefin" ng-disabled="!chekdebutm&&!chekdebuts" name="finDate" required min="{{nextdate}}" ng-change="changedatefin(datefin)">
        <span style="color:red" ng-show="!myForm.finDate.$error.required"></span>
        <br>
        <label class="checkbox">
        matin
         <input type="checkbox" ng-model="chekfinm" ng-checked="finm" ng-change="changechekfm(chekfinm)" ng-disabled="dischekbox.finmatin" ng-show="sameday">
      </label>
      <label class="checkbox">
        soire
         <input type="checkbox" ng-model="chekfins" ng-checked="fins" ng-change="changechekfs(chekfins)" ng-disabled="dischekbox.finsoire">
        
      </label>
     
   </label>
   <br>
   <div class="w3-containe">
   <h6 style="color:red" ng-show="myForm.StartDate.$error.min&&notfirstime">-vous devriez commencer apres un jour de votre dernier congé</h6>
   <span   ng-show="myForm.StartDate.$error.min&&!notfirstime"> <h6 style="color:red">-SVP sairir la date de debut</h6></span>
   <span style="color:red ;font-size:64%;" ng-show="myForm.StartDate.$error.min&&!notfirstime">-commencer par auj pour que vous pouvez entrez la date fin</span>
   </div>      
  </form>
    </label>
  
    <br>  
    <div class="w3-container w3-center"> 
        
  <p><button id="button" style="margin-left:-77pt" class="w3-button w3-blue w3-round"  ng-click="valide(datedebut,datefin,chekdebutm,chekdebuts,chekfinm,chekfins) " ng-disabled="beforevalide||all||myForm.StartDate.$invalid||myForm.finDate.$invalid||!chekdebutm&&!chekdebuts||!chekfinm&&!chekfins" >valide</button></p>
  <p><button id="button" style="margin-top:-62pt;margin-left:80pt" class="w3-button w3-blue w3-round" ng-click="sende()" ng-disabled="send" >envoyer</button></p>
  <p><button id="button"  style="margin-top:-45pt;width:auto"  class="w3-button w3-blue w3-round"  ng-click="ajoute(datedebut,datefin)" ng-disabled="ajouter" >ajouter d'autre congé</button></p>
  

  </div>
  
    </ion-content>
  </ion-view>
      
  
