<ion-view view-title="SignUp" name="SignUp-view">
    <ion-content class="padding">
  
     
      <form name="myForm">
        <label class="item-input">
        <input type="text"  name="firstname" placeholder="prenom" ng-model="account.fisrtnames" required>
        <h4 style="padding-left:5px;color:red;" ng-show="myForm.firstname.$error.required">*</h4>
        </label>
        <label class=" item-input">
          <input type="text" name="nom" placeholder="nom" ng-model="account.lastnames" required>
          <h4 style="padding-left:5px;color:red;" ng-show="myForm.nom.$error.required">*</h4>
        </label>
        <label class="item-input">
          <input type="email" placeholder="Email" ng-model="account.email" name="email" required>
          <h4 style="padding-left:5px;color:red;" ng-show="myForm.email.$error.required">*</h4>
          <h6  style="padding-left:18px;font-size:74%;color:red" ng-show="myForm.email.$error.email">
            emails invalides.</h6>
        </label>
        <label class="item-input">
          <input type="text" placeholder="adress" ng-model="account.adress" name="adress" required>
          <h6 style="padding-left:5px;color:red;" ng-show="myForm.adress.$error.required">*</h6>
          </label>
          <label class="item-input">
            <input type="text" placeholder="ville" ng-model="account.ville" name="ville" required>
            <h4 style="padding-left:5px;color:red;" ng-show="myForm.ville.$error.required">*</h4>
          </label>
          <div class = "item-input-inset" style="margin-left:8px">
            <label class = "item item-input-wrapper">
               <i class = "icon ion-edit placeholder-icon"></i>
               <input type="number" placeholder="numéro"  pattern="[0-9]*" ng-model="account.num" name="num" required>
               
            </label>
            <h4 style="padding-left:5px;color:red;" ng-show="!account.num">*</h4>
         </div>
         
      
     
          <div class="button-bar col upload" style="margin-left:12px">
            <input type = "file" file-model ="myFile.file" style="margin-top: 5px"/>
          </div>
          <span   ng-show="!myFile.file" > <p style="padding-left:130pt;color:red;margin-top:-30pt">fichier n'est pas sélectionné</p></span>
          <span   ng-show="myFile.file" > <p style="padding-left:200px;margin-top:-30pt">{{myFile.file.name}}</p></span>
     
        </form>
      
      <button style="width:250pt;height:50px; font:bold 20px/100% Arial, sans-serif;margin-left:12pt" class="button button-block button-positive" type="submit" ng-click="signup()">valider</button>

    </ion-content>
  </ion-view>